*{
    padding: 0;
    margin: 0;
  }
  
  
  body {
    background: rgb(133, 13, 149); 
    background: -webkit-radial-gradient(center, rgb(7, 184, 66) 0%, rgb(129, 20, 20) 100%);
    background: radial-gradient(ellipse at center, rgba(48, 83, 375, 1.0) 0%, rgba(-51, 82, 46, 31) 168%);
    font-family: 'sans-serif', cursive;
    min-height: 100vh;
  }
  
  button {
    height: fit-content;
    cursor: pointer;
    color: #c61b12;
    background-color: #37ed09;
  }
  
  .app {
    width: 600px;
    margin: auto;
    padding-top: 50px;
    color: rgb(255, 19, 19);
  }
  
  .input-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(206, 247, 2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0px 0px 10px 0px;
  }
  
  .to-do-input input {
    width: 250px;
    font-family: inherit;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    outline: none;
  }
  
  .to-do-input button {
    color: #1e03e5;
    font-family: inherit;
    border: none;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .to-do-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .to-do-list i {
    color: #1fd108;
    cursor: pointer;
  }
  
  .to-do-list .fa-pen-to-square {
    color: #5b7065;
  }
  
  .to-do-list button {
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    border: none;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  
  .input-controller {
    display: flex;
    gap: 10px;
  }
  
  .input-controller textarea {
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    line-height: 1.4;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.2rem;
    font-family: inherit;
    transition: all 0.30s ease-in-out;
  }
  
  textarea:focus {
    box-shadow: 0 0 5px rgb(255, 255, 255);
  }
  
  .edit-controller {
    display: flex;
    gap: 5px;
  }
  
  .update-controller {
    display: none;
  }
  
  @media(max-width: 768px) {
    .app {
      width: 95%;
      text-align: center;
    }
  
    .input-header {
      flex-direction: column;
      padding-bottom: 20px;
    }
  
    .to-do-input {
      display: flex;
    }
  
    .to-do-input input {
      width: 400px;
    }
  
  }